<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8">
  <html lang="de">

  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="alternate icon" href="/favicon.ico">
  <link rel="mask-icon" href="/favicon.svg" color="#b2b2b2">

  <script>
    function doLocal()
    {
        console.log("this is local");

        let l_footer = document.getElementById("itisFooter");
        l_footer.message = '<a href="/stdsystem/license" title="licenses">Lizenzen</a>&nbsp;<a href="/stdsystem/imprint" title="Impressum">Imprint</a>';
        
        document.getElementById("lastLogin").innerHTML = convertUTCDateToLocalDate(new Date("<%==$ lastLogin %>"));
        document.getElementById("lastLogout").innerHTML = convertUTCDateToLocalDate(new Date("<%==$ lastLogout %>"));
        document.getElementById("lastPwdChangeTime").innerHTML = convertUTCDateToLocalDate(new Date("<%==$ lastPwdChangeTime %>"));        
        
        const user = {username: "<%==$ username %>", firstname: "<%==$ firstname %>", surname: "<%==$ surname %>", email: "<%==$ email %>", company: "<%==$ company %>", lastLogin: "<%==$ lastLogin %>", lastLogout: "<%==$ lastLogout %>", lastPwdChangeTime: "<%==$ lastPwdChangeTime %>", usertimezone: "<%==$ usertimezone %>", groupname: "<%==$ groupname %>", groups: "<%==$ groups %>", newsletter: "<%==$ newsletter %>"};
        setUserData(user);
        
        browserCheck();
    }

	function setLanguage(lang)
	{
		if(lang == "0")
		{lang = "de";}
		else{lang = "en";}
		document.cookie = "lang=" + lang + ";" + ";path=/";
		location.reload();
	}

	function convertUTCDateToLocalDate(date) 
	{
		//var d = convertUTCDateToLocalDate(new Date("2020-09-13T10:49:02.174"));
		var newDate = new Date(date.getTime()+date.getTimezoneOffset()*60*1000);

		var offset = date.getTimezoneOffset() / 60;
		var hours = date.getHours();

		newDate.setHours(hours - offset);
		
		var mm = newDate.getMonth() + 1;
		var dd = newDate.getDate();
		var yy = newDate.getFullYear();
		var hh = newDate.getHours();
		var m = newDate.getMinutes();

		if(mm < 10)
		{
			mm = "0" + mm;
		}
		if(dd < 10)
		{
			dd = "0" + dd;
		}
		if(hh < 10)
		{
			hh = "0" + hh;
		}
		if(m < 10)
		{
			m = "0" + m;
		}
		let datestr = yy + "-" + mm + "-" + dd + " " + hh + ":" + m;
		return datestr;
		
		//return newDate;   
	}

	function formatUtcDate(date)
	{
		var newDate = new Date(date);
		var mm = newDate.getMonth() + 1;
		var dd = newDate.getDate();
		var yy = newDate.getFullYear();
		var hh = newDate.getHours();
		var m = newDate.getMinutes();

		if(mm < 10)
		{
			mm = "0" + mm;
		}
		if(dd < 10)
		{
			dd = "0" + dd;
		}
		if(hh < 10)
		{
			hh = "0" + hh;
		}
		if(m < 10)
		{
			m = "0" + m;
		}
		let datestr = yy + "-" + mm + "-" + dd + " " + hh + ":" + m;
		return datestr;	
	}	
	
	function browserCheck() 
	{
		const BrowserName = navigator.appName;
		const BrowserAlias = navigator.appCodeName;
		const BrowserVersion = navigator.appVersion;
		const BrowserAgent = navigator.userAgent;
		//document.getElementById("browser").innerHTML = `Browser: ${BrowserName} Alias: ${BrowserAlias} Agent: ${BrowserAgent} Version: ${BrowserVersion}`;
		const browser = `${BrowserName} ${BrowserAlias} ${BrowserAgent} ${BrowserVersion}`;
		let result = browser.match(/chrome/ig);
		if(! result)
		{
			document.getElementById('redmsg').innerHTML = `<b>Es wird ein Chrome (Chromium) Browser gr&ouml;&szlig;er v36 ben&ouml;tigt.</b><br/>Sie nutzen scheinbar etwas anderes:<br/> ${browser}<br/><b>Die Funktionalit&auml;t dieser Website kann mit Ihrem Browser leider nicht gew&auml;hrleistet werden.</b>.`;
		}
	}
  </script>

  <script type="module" src="/js/itis_init.js" /></script>
  <script src="/js/account/userhome.js" /></script>
  <link rel="stylesheet" href="/css/w3.css">  
  <link rel="stylesheet" href="/css/custom.css">  

</head>

<body class="w3-container w3-margin" id="body">

  <itis-menu id="itisMenu" message=""></itis-menu>

  <div class="w3-container w3-light-blue">
    <h2 id="portaltitle">ITIS-API::Admin-Portal</h2>
  </div>

  <itis-menusub id="itisMenuSub" message="<%= controller()->name() %>"></itis-menusub>

<h3 id="pagetitle"><page-title message=""><%= controller()->name() + ": " + controller()->activeAction() %></page-title></h3>
<div id="pagedesc"><page-desc message=""></page-desc></div>

<p id="redmsg" style="color: red"><%==$ red_msg %><%=$ error %></p><p id="greenmsg" style="color: green"><%==$ green_msg %><%=$ notice %></p>

<div id="pup" style="display: none;" class="w3-modal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <span onclick="document.getElementById('pup').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        <span id="msg"></span>
      </div>
    </div>
  </div>
</div>

<main>
	
<article>
	<section id ="userSalut">
		<h4>Hallo <span id="firstname"><%==$firstname %></span></h4>
		<p>&rArr; der letzte Log-In erfolgte am <span id="lastLogin"></span> Uhr <small>(<span id="lastLoginUtc"><%==$ lastLogin %></span> UTC)</small></p>
		<p>&rArr; der letzte Log-Out erfolgte am <span id="lastLogout"></span> Uhr <small>(<span id="lastLogoutUtc"><%==$ lastLogout %></span> UTC)</small></p>
		<p>&rArr; die letzte Passwort-&Auml;nderung erfolgte am <span id="lastPwdChangeTime"></span> Uhr <small>(<span id="lastPwdChangeTimeUtc"><%==$ lastPwdChangeTime %></span> UTC)</small></p>
	<b><%==$ pwdToChangeIn %></b>
		<p id="browser"></p>
	</section>
	
	<section id = "userData">
		
		<div class="w3-card-4">
						<div class="w3-container">
			<img src="/images/robot-head.svg" alt="Alps" style="width:20%;float:right;">

				<p>username: <span id="username"><%==$ username %></span></p>
				<p>firstname: <%==$ firstname %></p>
				<p>surname: <%==$ surname %></p>
				<p>email: <%==$ email %></p>
				<p>company: <%==$ company %></p>
				<p>usertimezone: <%==$ usertimezone %></p>
				<p>groupname: <%==$ groupname %></p>
				<p>groups: <%==$ groups %></p>
				<p>
				  <p><b><u>Newsletter:</u></b></p>
				  <input type="radio" id="news_de" name="news" value="de" onchange="setUserNewsletter(this, '<%==$ username %>')">
				  <label for="news_de">deutsch</label><br>
				  <input type="radio" id="news_en" name="news" value="en" onchange="setUserNewsletter(this, '<%==$ username %>')">
				  <label for="news_en">englisch</label><br>
				  <input type="radio" id="news_no" name="news" value="no" onchange="setUserNewsletter(this, '<%==$ username %>')">
				  <label for="news_no">keinen</label>
				</p>
			</div>
		</div>
	</section>
<div id="pagecontent"><page-content message=""></page-content></div>	
</article> 

</main>
<itis-footer id="itisFooter" message=""></itis-footer>
  
</body>
</html>
