<!DOCTYPE html>
<%#include "releasemgmt.h" %>
<% tfetch(QVariantMap, releaseMgmt); %>
<%#include "lenkinfo.h" %>
<% tfetch(QVariantMap, lenkinfo); %>
<html>
<head>
  <meta charset="UTF-8">
  <html lang="de">

  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="alternate icon" href="/favicon.ico">
  <link rel="mask-icon" href="/favicon.svg" color="#b2b2b2">
  
    <link rel="preload" href="/fonts/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin />

  <script>
    function doLocal()
    {
        console.log("this is local");

        let l_footer = document.getElementById("itisFooter");
        l_footer.message = '<a href="/stdsystem/license" title="licenses">Lizenzen</a>&nbsp;<a href="/stdsystem/imprint" title="Imprint">Impressum</a>';

        //let l_menu = document.getElementById("itisMenu"); 
        //l_menu.message = "<%= controller()->name() %>";
        				
		convertUTCDateToLocalDate('relrequestDate', "<%= releaseMgmt["relrequestDate"] %>");
		convertUTCDateToLocalDate('relcreatorDecisdate', "<%= releaseMgmt["relcreatorDecisdate"] %>");
		convertUTCDateToLocalDate('relinspectDecisdate', "<%= releaseMgmt["relinspectDecisdate"] %>");
		convertUTCDateToLocalDate('relapprovDecisdate', "<%= releaseMgmt["relapprovDecisdate"] %>");
		convertUTCDateToLocalDate('ciDate', "<%= releaseMgmt["ciDate"] %>");
		convertUTCDateToLocalDate('cdDate', "<%= releaseMgmt["cdDate"] %>");
		convertUTCDateToLocalDate('cddDate', "<%= releaseMgmt["cddDate"] %>");
    }

	function setLanguage(lang)
	{
		if(lang == "0")
		{lang = "de";}
		else{lang = "en";}
		document.cookie = "lang=" + lang + ";" + ";path=/";
		location.reload();
	}

	function convertUTCDateToLocalDate(id, datetime) 
	{
		if(! datetime)
		{
			return;
		}
		//var date = new Date(datetime);
		var newDate = new Date(datetime);
		
		/* var newDate = new Date(date.getTime()+date.getTimezoneOffset()*60*1000);

		var offset = date.getTimezoneOffset() / 60;
		var hours = date.getHours();

		newDate.setHours(hours - offset);
		*/
		var mm = newDate.getMonth() + 1;
		var dd = newDate.getDate();
		var yy = newDate.getFullYear();
		var hh = newDate.getHours();
		var m = newDate.getMinutes();

		if(mm < 10)
		{
			mm = "0" + mm;
		}
		if(dd < 10)
		{
			dd = "0" + dd;
		}

		let datestr = yy + "-" + mm + "-" + dd;
		
		if(id) {
			document.getElementById(id).value = datestr;
		}
		else {
			return datestr;
		}   
	}
  </script>

  <script type="module" src="/js/itis_init.js" /></script>
	<!-- dev
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  -->
	<!-- prod   -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  
  <link rel="stylesheet" href="/css/w3.css">  
  <link rel="stylesheet" href="/css/custom.css">  

	<style>
		.set-width { max-width: 33%; min-width: 100px; border-radius: 5px;}
		.w3-half {	margin-bottom: 1rem;	}
	</style>
</head>

<!-- Fortschritt -->
<style>
#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 25%;
  height: 30px;
  background-color: #04AA6D;
  text-align: center;
  line-height: 30px;
  color: white;
}

.toDo {
	background-color: lightblue; 
}

</style>
<script>

function move(status) {
	let value = 0;
	if(status === 'draft') {value = 25;}
	if(status === 'pre-release') {value = 50;}
	if(status === 'pre-release review') {value = 75;}
	if(status === 'released') {value = 100;}
	
    var elem = document.getElementById("myBar");
    elem.style.width = value + "%";
    elem.innerHTML = value  + "%";
    
    checkTab3Btns(status);
}

</script>
<!-- Fortschritt -->

<body class="w3-container w3-margin" id="body">

  <itis-menu id="itisMenu" message=""></itis-menu>

  <div class="w3-container w3-light-blue">
    <h2 id="portaltitle">ITIS-API::Admin-Portal</h2>
  </div>

  <itis-menusub id="itisMenuSub" message="<%= controller()->name() %>"></itis-menusub>

<h3 id="pagetitle"><page-title message=""><%= controller()->name() + ": " + controller()->activeAction() %></page-title></h3>
<div id="pagedesc"><page-desc message=""></page-desc></div>

<span style="color: red">
	<span  id="redmsg"><%==$ red_msg %></span>&nbsp;<span><%=$ error %></span>
</span>
<span style="color: green">
	<span id="greenmsg"><%==$ green_msg %></span>&nbsp;<span id="green_notice"><%=$ notice %></span>
</span>

<div class="w3-container">

<div class="w3-bar" style="border-radius: 0.5em 0.5em 0px 0px; background: #F1F3F4;">
	<button class="w3-bar-item w3-button tablink w3-grey" onclick="openCity(event,'London')">1. Release Status</button>
    <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'Paris')" id="tabLenkungsinfo" >2. Lenkungsinfo</button>
    <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'Tokyo')" id="tabRelease" >3. show Release</button>
</div>
<main style="border-radius: 0px 0px 0.5em 0.5em;">
<div id="pagecontent"><page-content message=""></page-content></div>


	
<div id="London" class="w3-container w3-border city">
	
<section>
	<h3>Release Status-Anzeige</h3>
	<div class="w3-light-grey">
		<div id="myProgress">
			<div id="myBar">25%</div>
		</div>
		<small>draft: 25% - pre-release: 50% - pre-release review: 75% - released: 100%</small>
	</div><br>

<%== formTag(urla("save", releaseMgmt["id"]), Tf::Post) %>
	<div class="w3-row-padding">
	  <div class="w3-half">
		<label class="w3-opacity">ID<br /><input class="w3-input w3-border w3-round set-width" type="text" name="releaseMgmt[id]" value="<%= releaseMgmt["id"] %>" readonly="readonly" /></label>
	  </div>
	  <div class="w3-half">
		<label class="w3-opacity">Release Status<br /><input class="w3-input w3-border w3-round" type="text" name="releaseMgmt[relStatus]" value="" readonly="readonly" /></label>
	  </div>
	  <div class="w3-half">
		<label class="w3-opacity">Objekt Name<br /><input class="w3-input w3-border w3-round" name="releaseMgmt[objSname]" id="releaseMgmtobjSname" value="<%= releaseMgmt["objSname"] %>" readonly /></label>
	  </div>
	  <div class="w3-half">
		<label class="w3-opacity">Release Version<br /><input class="w3-input w3-border w3-round" name="releaseMgmt[specVersion]" id="releaseMgmtspecVersion" value="<%= releaseMgmt["specVersion"] %>" readonly /></label>
	  </div>
	  <div class="w3-half">
		<label class="w3-opacity">AC Class<br /><input class="w3-input w3-border w3-round" name="releaseMgmt[acClasses]" value="<%= releaseMgmt["acClasses"] %>" readonly /></label>
	  </div>
	  <div class="w3-half">
		<label class="w3-opacity">PC Class<br /><input class="w3-input w3-border w3-round" name="releaseMgmt[pcClasses]" value="<%= releaseMgmt["pcClasses"] %>" readonly /></label>
	  </div>
	  <div class="w3-half">
		<label class="w3-opacity">Cat Class<br /><input class="w3-input w3-border w3-round" name="releaseMgmt[catClass]" value="<%= releaseMgmt["catClass"] %>" readonly /></label>
	  </div>
	  <div class="w3-half">
		<label class="w3-opacity">Land<br /><input class="w3-input w3-border w3-round" name="releaseMgmt[country]" value="<%= releaseMgmt["country"] %>" readonly /></label>
	  </div>
	  <div class="w3-half">
		<label class="w3-opacity">Sprache<br /><input class="w3-input w3-border w3-round" name="releaseMgmt[lang]" value="<%= releaseMgmt["lang"] %>" readonly /></label>
	  </div>
	  <div class="w3-half">
		<label class="w3-opacity">Dokument Typ<br /><input class="w3-input w3-border w3-round" name="releaseMgmt[docType]" value="<%= releaseMgmt["docType"] %>" readonly /></label>
	  </div>
	  <div class="w3-half">
		<label class="w3-opacity">Release Requester<br /><input class="w3-input w3-border w3-round" name="releaseMgmt[relRequester]" value="<%= releaseMgmt["relRequester"] %>" readonly /></label>
	  </div>
	  <div class="w3-half">
		<label class="w3-opacity">Release Request Date<br /><input class="w3-input w3-border w3-round" name="releaseMgmt[relrequestDate]" id="relrequestDate" value="" readonly /></label>
	  </div>
	  <div class="w3-half">
		<label class="w3-opacity">Release Ersteller<br /><input class="w3-input w3-border w3-round" name="releaseMgmt[relCreator]" value="<%= releaseMgmt["relCreator"] %>" readonly /></label>
	  </div>
	  <div class="w3-half">
		<label class="w3-opacity">Release Ersteller Datum<br /><input class="w3-input w3-border w3-round" name="releaseMgmt[relcreatorDecisdate]" id="relcreatorDecisdate" value="" readonly /></label>
	  </div>
	  <div class="w3-half">
		<label class="w3-opacity">Release Prüfer<br /><input class="w3-input w3-border w3-round" name="releaseMgmt[relInspector]" value="<%= releaseMgmt["relInspector"] %>" readonly /></label>
	  </div>
	  <div class="w3-half">
		<label class="w3-opacity">Release Prüfer Datum<br /><input class="w3-input w3-border w3-round" name="releaseMgmt[relinspectDecisdate]" id="relinspectDecisdate" value="" readonly /></label>
	  </div>
	  <div class="w3-half">
		<label class="w3-opacity">Release Freigeber<br /><input class="w3-input w3-border w3-round" name="releaseMgmt[relApprover]" value="<%= releaseMgmt["relApprover"] %>" readonly /></label>
	  </div>
	  <div class="w3-half">
		<label class="w3-opacity">Release Freigeber Datum<br /><input class="w3-input w3-border w3-round" name="releaseMgmt[relapprovDecisdate]" id="relapprovDecisdate" value="" readonly /></label>
	  </div>
	  <div class="w3-third">
		<label class="w3-opacity">CI Date<br /><input class="w3-input w3-border w3-round" name="releaseMgmt[ciDate]" id="ciDate" value="" readonly /></label>
	  </div>
	  <div class="w3-third">
		<label class="w3-opacity">CD Date<br /><input class="w3-input w3-border w3-round" name="releaseMgmt[cdDate]" id="cdDate" value="" readonly /></label>
	  </div>
	  <div class="w3-third">
		<label class="w3-opacity">CDD Date<br /><input class="w3-input w3-border w3-round" name="releaseMgmt[cddDate]" id="cddDate" value="" readonly /></label>
	  </div>
	  <!--
	  <p>&nbsp;</p>
	  <p>
		<input type="submit" value="speichern &raquo;"/>
	  </p>
  -->
	</div>
</form>
</section>

</div>

<div id="Paris" class="w3-container w3-border city" style="display:none">

<article> 
	<h3>Eingabe Lenkungsinformation zum aktuellen Release</h3>
<!-- <form action="/lenkinfo/create" method="post"> -->
<div id="app">
  {{ message }}
     <div v-if="totalVuePackages" class="content">
		 <section>
			 <h4>Lenkungsinformation</h4>
		<table style="width:100%;">
			<tbody>
				<tr>
					<td style="background-color:#D9D9D9;border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:2.85pt;vertical-align:top;width:46.55pt;" rowspan="3">
						<p style="text-align:center;"><strong>BMW Group</strong></p>
					</td>
					<td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:2.85pt;vertical-align:top;" colspan="2"><strong>Unterlagenklasse:</strong> 3.2
					</td>
					<td style="border-bottom:1.0pt solid windowtext;border-left:1.0pt none windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt solid windowtext;padding:2.85pt;vertical-align:top;" colspan="3"><strong>Nr.:</strong> 01
					</td>
				</tr>
				<tr>
					<td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:2.85pt;vertical-align:top;" colspan="2"><strong>Gültigkeitsbereich:</strong> BMW Group
					</td>
					<td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;padding:2.85pt;vertical-align:top;" colspan="3"><strong>Version:</strong> {{ lenk_version }}</span>
					</td>
				</tr>
				<tr>
					<td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;height:1.0pt;padding:2.85pt;vertical-align:top;" colspan="2"><p style="margin-left:0px;">Vorgabedokument der BMW Group</br>für die passive IT Infrastruktur</p><p><strong>{{ obj_sname }}<br>{{ lenk_title }}</strong></p><p>&nbsp;</p><p>&nbsp;</p>
					</td>
					<td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;height:1.0pt;padding:2.85pt;vertical-align:top;" colspan="3"><p><strong>Status:</strong> {{ status }}<br>{{ lenk_valid_startdate }}</p>
					</td>
				</tr>
				<tr>
					<td style="background-color:#D9D9D9;border-bottom:1.0pt solid windowtext;border-left:1.0pt solid windowtext;border-right:1.0pt solid windowtext;border-top:1.0pt none windowtext;height:1.0pt;padding:2.85pt;vertical-align:top;">&nbsp;
					</td>
					<td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;height:1.0pt;padding:2.85pt;vertical-align:top;" colspan="2"><p style="text-align:right;"><strong>Beteiligte Personen/Fachstellen/Gremien:&nbsp;</strong></p>
					</td>
					<td style="border-bottom:1.0pt solid windowtext;border-left:none;border-right:1.0pt solid windowtext;border-top:none;height:1.0pt;padding:2.85pt;vertical-align:top;" colspan="3">{{ lenk_departments }}
					</td>
				</tr>
			</tbody>
		</table>
		<br>
		<table style="width:100%;">
			<thead>
				<tr>
					<th colspan="5" style="text-align: left;">Änderungshistorie</th>
				</tr>
				<tr>
					<th style="min-width:30px;">Version</th>
					<th>Inhalt</th>
					<th style="min-width:100px;">Ersteller<br>Kurzzeichen<br>Datum</th>
					<th style="min-width:100px;">Prüfer<br>Kurzzeichen<br>Datum</th>
					<th style="min-width:100px;">Freigeber<br>Kurzzeichen<br>Datum</th>
				</tr>
			</thead>
			<tr v-for="item in totalVuePackages" :key="item.obj_sname">
				<td>{{ item.lenk_version }}</td>
				<td>{{ item.lenk_content }}</td>
				<td>{{ item.lenk_creator }}<br>{{ item.lenk_creator_date }}</td>
				<td>{{ item.lenk_auditor }}<br>{{ item.lenk_auditor_date }}</td>
				<td>{{ item.lenk_approver }}<br>{{ item.lenk_approver_date }}</td>
			</tr>
			<tr v-if="lenk_content" @>
				<td>{{ lenk_version }}</td>
				<td>{{ lenk_content }}</td>
				<td>{{ lenk_creator }}<br>{{ lenk_creator_date }}</td>
				<td v-if="lenk_auditor_date">
					{{ lenk_auditor }}<br>{{ lenk_auditor_date }}
				</td>
				<td v-else>{{ lenk_auditor }}<br>-/-</td>
				<td v-if="lenk_approver_date">
					{{ lenk_approver }}<br>{{ lenk_approver_date }}
				</td>
				<td v-else>{{ lenk_approver }}<br>-/-</td>
			</tr>
		</table>
		</section>
    </div>
    
   
    <section> 
		<h3>Eingabe Lenkungsinformation zum aktuellen Release</h3>
		<!-- <form action="/lenkinfo/create" method="post"> -->
		<form @submit.prevent="handleSubmit" id="formLenkinfo">
		<div class="w3-row-padding">
		  <div class="w3-half">
			<label class="w3-opacity">Objekt<br /><input class="w3-input w3-border w3-round set-width" name="lenkinfo[specObj]" v-model="obj_sname" value="" readonly /></label>
		  </div>
		  <div class="w3-half">
			<label class="w3-opacity">Titel<br /><input class="w3-input w3-border w3-round" name="lenkinfo[specTitle]" v-model="lenk_title" value="" /></label>
		  </div>
		  <div class="w3-half">
			<label class="w3-opacity">AC Class <small>(1-4)</small><br /><input class="w3-input w3-border w3-round" name="lenkinfo[acClass]" v-model="ac_class" value="" readonly /></label>
		  </div>
		  <div class="w3-half">
			<label class="w3-opacity">PC Class <small>(1-4)</small><br /><input class="w3-input w3-border w3-round" name="lenkinfo[pcClass]" v-model="pc_class" value="" readonly /></label>
		  </div>
		  <div class="w3-half">
			<label class="w3-opacity">Land <small>(WW | DE | EN ...)</small><br /><input class="w3-input w3-border w3-round" name="lenkinfo[country]" v-model="country" value="" readonly /></label>
		  </div>
		  <div class="w3-half">
			<label class="w3-opacity">Sprache <small>(de_DE | en_GB)</small><br /><input class="w3-input w3-border w3-round" name="lenkinfo[lang]" v-model="lang" v-model="lang" value="" readonly /></label>
		  </div>
		  <div class="w3-half">
			<label class="w3-opacity">Version <small>(00.00.00)</small><br /><input class="w3-input w3-border w3-round" :class="{toDo: boxVersionClicked}" @click="boxClicked('boxVersion')" name="lenkinfo[lenkVersion]" v-model="lenk_version" value="" minlength="8" required /></label>
		  </div>
		  
			<label class="w3-opacity">Release Status <small>(draft | pre-release | pre-release review | released | expired)</small><br />
			<select v-model="status" name="lenkinfo[lenkStatus]" id="lenkinfostatus" :class="{toDo: boxStatusClicked}" @click="boxClicked('boxStatus')">
			  <option v-for="option in options" v-bind:value="option.value" v-bind:disabled="option.disabled">
				{{ option.text }}
			  </option>
			</select>
			<!-- <input class="w3-input w3-border w3-round" name="lenkinfo[lenkStatus]" v-model="status" value="" /> -->
			</label>
		  
<div class="w3-half"><br></div>
		  <div class="w3-half">
			<label class="w3-opacity">Start Datum <small>(dd.mm.yyyy)</small><br /><input type="date" class="w3-input w3-border w3-round" name="lenkinfo[lenkValidStartdate]" :class="{toDo: boxStartdateClicked}" @click="boxClicked('boxStartdate')" v-model="lenk_valid_startdate" value="" required /></label>
		  </div>
		  <div class="w3-half">
			<label class="w3-opacity">Beteiligte Personen/Fachstellen/Gremien <small>(FG-84*, FG-85*, FG-86*, ...)</small><br /><input class="w3-input w3-border w3-round" name="lenkinfo[lenkDepartments]" :class="{toDo: boxDepartmentsClicked}" @click="boxClicked('boxDepartments')" v-model="lenk_departments" value="" minlength="4" required /></label>
		  </div>
		  <p>
			<label class="w3-opacity">Inhalt<br /><input class="w3-input w3-border w3-round" name="lenkinfo[lenkContent]" :class="{toDo: boxContentClicked}" @click="boxClicked('boxContent')" v-model="lenk_content" value="" minlength="10" required /></label>
		  </p>
		  <div class="w3-half">
			<label class="w3-opacity">Ersteller <small>(Name, Department)</small><br /><input class="w3-input w3-border w3-round" name="lenkinfo[lenkCreator]" :class="{toDo: boxCreatorClicked}" @click="boxClicked('boxCreator')" v-model="lenk_creator" value="" required /></label>
		  </div>
		  <div class="w3-half">
			<label class="w3-opacity">Ersteller Datum <small>(dd.mm.yyyy)</small><br /><input type="date" class="w3-input w3-border w3-round" name="lenkinfo[lenkCreatorDate]" id="lenkCreatorDate" :class="{toDo: boxCreatorDateClicked}" @click="boxClicked('boxCreatorDate')" v-model="lenk_creator_date" value="" required /></label>
		  </div>
		  <div class="w3-half">
			<label class="w3-opacity">Prüfer <small>(Name, Department)</small><br /><input class="w3-input w3-border w3-round" name="lenkinfo[lenkAuditor]" v-model="lenk_auditor" value="" minlength="10" required /></label>
		  </div>
		  <div class="w3-half">
			<label class="w3-opacity">Prüfer Datum <small>(dd.mm.yyyy)</small><br /><input type="date" class="w3-input w3-border w3-round" name="lenkinfo[lenkAuditorDate]" v-model="lenk_auditor_date" value="" /></label>
		  </div>
		  <div class="w3-half">
			<label class="w3-opacity">Freigeber <small>(Name, Department)</small><br /><input class="w3-input w3-border w3-round" name="lenkinfo[lenkApprover]" v-model="lenk_approver" value="" minlength="10" required /></label>
		  </div>
		  <div class="w3-half">
			<label class="w3-opacity">Freigeber Datum <small>(dd.mm.yyyy)</small><br /><input type="date" class="w3-input w3-border w3-round" name="lenkinfo[lenkApproverDate]" v-model="lenk_approver_date" value="" /></label>
		  </div>
		  <p><label class="w3-opacity" :class="{toDo: boxchkVerifyClicked}" @click="boxClicked('boxchkVerify')">neue Änderungshistorie OK:&nbsp;&nbsp;<input type="checkbox" id="chkVerify" name="chkVerify" value="alle Felder ok"></label></p>
		  <p>
			<input type="submit" id="submitLenkinfo" value="Lenkungsinfo erstellen &raquo;" v-bind:disabled="submitLenkinfo" />
		  </p>
		</div>
		</form>

	</section>
</div>

</article>

</div>

<div id="Tokyo" class="w3-container w3-border city" style="display:none">
<section> 
	<h3>Release Anzeige / Ausdruck</h3>
	<p>hier wird dann das ausgewählte Release gemäß Status angezeigt</p>

<form id="formid" class="w3-container" action="/annexdata/showCiAnnex" method="post">
	<input type="text" name="spec_release" value="pre-release" hidden>
	<input type="text" name="getStdType" value="show" hidden>
	<input type="text" name="" value="<%= releaseMgmt["docType"] %>" hidden>
	
	<div class="w3-row-padding"> 
		
		<div class="w3-half">
		<label class="w3-opacity">ID<br /><input type="text" class="w3-input w3-border w3-round set-width" name="release_id" value="<%= releaseMgmt["id"] %>" readonly></label>
		</div>

		<div class="w3-half">
			<label class="w3-opacity">Objekt Name<br /><input type="text" class="w3-input w3-border w3-round" name="obj_sname" value="<%= releaseMgmt["objSname"] %>" readonly></label>
		</div>
		<div class="w3-half">
			<label class="w3-opacity">AC Class<br /><input type="text" class="w3-input w3-border w3-round" name="ac_class" value="<%= releaseMgmt["acClasses"] %>" readonly></label>
		</div>
		<div class="w3-half">
			<label class="w3-opacity">PC Class<br /><input type="text" class="w3-input w3-border w3-round" name="pc_class" value="<%= releaseMgmt["pcClasses"] %>" readonly></label>
		</div>
		<div class="w3-half">
			<label class="w3-opacity">Land<br /><input type="text" class="w3-input w3-border w3-round" name="country" value="<%= releaseMgmt["country"] %>" readonly></label>
		</div>
		<div class="w3-half">
			<label class="w3-opacity">Sprache<br /><input type="text" class="w3-input w3-border w3-round" name="lang" value="<%= releaseMgmt["lang"] %>" readonly></label>
		</div>
		<div class="w3-half">
			<label class="w3-opacity">Release Version<br /><input class="w3-input w3-border w3-round" name="releaseMgmt[specVersion]" id="releaseMgmtspecVersion" value="<%= releaseMgmt["specVersion"] %>" readonly /></label>
		</div>
		<div class="w3-half">
			<label class="w3-opacity">Status<br /><input type="text" class="w3-input w3-border w3-round" name="showStatus" id="showStatus" value="" readonly></label>
		</div>

		<input type="submit" id="prerelease" value="Pre-Release anschauen &raquo;" style="display:none;">
		<button id="prereleaseBtn" class="w3-btn w3-light-grey w3-border" onClick="showIt('pre-release')" disabled = true > &uarr; show Pre-Release</button>

		<input type="submit" id="showreleased" value="Release anschauen &raquo;" style="display:none;">
		<button id="showreleasedBtn" class="w3-btn w3-light-grey w3-border" onClick="showIt('showreleased')" disabled = true > &uarr; show Released</button>

		<input type="submit" id="printreleased" value="Release drucken &raquo;" style="display:none;">
		<button id="releasedBtn" class="w3-btn w3-light-grey w3-border" onClick="showIt('printreleased')" disabled = true > &uarr; print Released</button>
	
	</div>
</form>
<script>
	function showIt(releaseType)
	{
		let doctype = "<%= releaseMgmt["docType"] %>";
		if(doctype === 'annex')
		{
			if(releaseType === "pre-release")
			{
				let form = document.getElementById("formid");
				form.setAttribute("action", "/annexdata/showCiAnnex?show");
				document.getElementById("prerelease").click();
			}
			if(releaseType === "showreleased")
			{
				let form = document.getElementById("formid");
				form.setAttribute("action", "/releasemgmt/showCdAnnex?show");
				document.getElementById("showreleased").click();
			}
			if(releaseType === "printreleased")
			{
				let form = document.getElementById("formid");
				form.setAttribute("action", "/releasemgmt/printCdAnnex?show");
				document.getElementById("printreleased").click();
			}
		}
		if(doctype === 'standard')
		{
			if(releaseType === "pre-release")
			{
				let form = document.getElementById("formid");
				form.setAttribute("action", "/standardsdata/showCiStd?show");
				document.getElementById("prerelease").click();
			}
			if(releaseType === "showreleased")
			{
				let form = document.getElementById("formid");
				form.setAttribute("action", "/releasemgmt/showCdStd?show");
				document.getElementById("showreleased").click();
			}
			if(releaseType === "printreleased")
			{
				let form = document.getElementById("formid");
				form.setAttribute("action", "/releasemgmt/printCdStd?show");
				document.getElementById("printreleased").click();
			}
		}
	}

	function checkTab3Btns(status)
	{
		switch(status) {
			case 'draft': {
				document.getElementById('prereleaseBtn').disabled = true; 
				document.getElementById('showreleasedBtn').disabled = true; 
				document.getElementById('releasedBtn').disabled = true;
				break;
			}
			case 'pre-release': {
				document.getElementById('prereleaseBtn').disabled = false; 
				document.getElementById('showreleasedBtn').disabled = true; 
				document.getElementById('releasedBtn').disabled = true;
				break;
			}
			case 'pre-release review': {
				document.getElementById('prereleaseBtn').disabled = false; 
				document.getElementById('showreleasedBtn').disabled = true; 
				document.getElementById('releasedBtn').disabled = true;
				break;
			}
			case 'released': {
				document.getElementById('prereleaseBtn').disabled = true; 
				document.getElementById('showreleasedBtn').disabled = false; 
				document.getElementById('releasedBtn').disabled = false;
				break;
			}
			case 'expired': {
				document.getElementById('prereleaseBtn').disabled = true; 
				document.getElementById('showreleasedBtn').disabled = true; 
				document.getElementById('releasedBtn').disabled = true;
				break;
			}
			default: {
				document.getElementById('prereleaseBtn').disabled = false; 
				document.getElementById('showreleasedBtn').disabled = true; 
				document.getElementById('releasedBtn').disabled = true;
			}
		}	
   }
</script>
	
</section>
</div>

<br>
<a href="javascript:window.close();" style="border-radius: 0px 0px 0px 0.5em;" class="w3-btn w3-light-grey"><img src="/Icons/justify.svg">&nbsp;zur&uuml;ck</a>

</div>

</main>

	<script>
      function openCity(evt, cityName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("city");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" w3-grey", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " w3-grey";
      }


	// Tabs
	// Lenkungsinformation angelegt.  
	// 
	const queryString = document.documentURI;
	let str = queryString.match(/show/);

     if(str)
     {
		doTabs();
	 }
	
	function doTabs()
	{
		
		var i, x, tablinks;
        x = document.getElementsByClassName("city");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" w3-grey", "");
        }
		document.getElementById("Tokyo").style.display = "block";
		tablinks[2].className += " w3-grey";
	}

    </script>


<script>
	
var app = new Vue({
  el: '#app',
  data (){
	  return {
    message: 'blaue markierte Felder bitte ausfüllen bzw. ändern.',
    boxVersionClicked: true,
    boxStatusClicked: true,
    boxStartdateClicked: true,
    boxDepartmentsClicked: true,
    boxContentClicked: true,
    boxCreatorClicked: true,
    boxCreatorDateClicked: true,
    boxchkVerifyClicked: true,
    totalVuePackages: null,
    submitLenkinfo: true,
    submitted: false,
    obj_sname: "<%= releaseMgmt["objSname"] %>",
    country: "<%= releaseMgmt["country"] %>",
    lang: "<%= releaseMgmt["lang"] %>",
    ac_class: "<%= releaseMgmt["acClasses"] %>",
    pc_class: "<%= releaseMgmt["pcClasses"] %>",
    lenkinfo_version: null,
    lenk_departments: null,
    status: null,
    options: [
      { text: 'draft', value: 'draft', disabled: true },
      { text: 'pre-release', value: 'pre-release', disabled: false },
      { text: 'pre-release review', value: 'pre-release review', disabled: false },
      { text: 'released', value: 'released', disabled: true },
      { text: 'expired', value: 'expired', disabled: true }
    ],
    lenkStatus: null,
    lenk_title: null,
    lenk_version: null,
    lenk_content: null,
    lenk_creator: null,
    lenk_creator_date: null,
    lenk_auditor: null,
    lenk_auditor_date: null,
    lenk_approver: null,
    lenk_approver_date: null,
    lenk_departments: null,
    lenk_valid_startdate: null,
}
  },
  created () {
    // fetch the data when the view is created and the data is
    // already being observed
    this.getData()
  },
  watch: {
		status: function (val, oldVal) {
			// console.log('new: %s, old: %s', val, oldVal);
			move(this.status);
			document.getElementById('showStatus').value = this.status;
			checkTab3Btns(this.status);
		}
	},
  methods: {
	boxClicked(box) {
		if(box === 'boxVersion') {
			this.boxVersionClicked = !this.boxVersionClicked;
		} else if (box === 'boxStatus') {
			this.boxStatusClicked = !this.boxStatusClicked;
		} else if (box === 'boxStartdate') {
			this.boxStartdateClicked = !this.boxStartdateClicked;
		} else if (box === 'boxDepartments') {
			this.boxDepartmentsClicked = !this.boxDepartmentsClicked;
		} else if (box === 'boxContent') {
			this.boxContentClicked = !this.boxContentClicked;
		} else if (box === 'boxCreator') {
			this.boxCreatorClicked = !this.boxCreatorClicked;
		} else if (box === 'boxCreatorDate') {
			this.boxCreatorDateClicked = !this.boxCreatorDateClicked;
		} else if (box === 'boxchkVerify') {
			this.boxchkVerifyClicked = !this.boxchkVerifyClicked;
			if(this.boxchkVerifyClicked) {
				this.submitLenkinfo = true;
			}
			else {
				this.submitLenkinfo = false;
			}
		}			
	},
	startDateReset: function (event)
	{
		console.log("startDateReset");  
	},
	async getData() {
	  // GET request using fetch with async/await
	  let pdata = new URLSearchParams([["spec_obj", this.obj_sname], ["ac_class", this.ac_class], ["pc_class", this.pc_class], ["country", this.country], ["lang", this.lang]]);
	  const response = await fetch("/lenkinfo/getJson",
	  {
		body: pdata,
		method: "post"
	  });
	  const data = await response.json();
	  let dlength = data.length;
	  if(dlength < 1)
	  {
		document.getElementById('redmsg').innerHTML = "keine Lenkungsinformationen vorhanden.";
		this.totalVuePackages = [{'lenk_version': ''}];
		return;
	  }
	  this.lenk_version = data[dlength -1].lenk_version;
	document.getElementById('releaseMgmtspecVersion').value = this.lenk_version;
	  this.lenk_departments = data[dlength -1].lenk_departments;
	  this.lenk_title = data[dlength -1].spec_title;
	  this.lenk_creator = data[dlength -1].lenk_creator;
	  this.lenk_auditor = data[dlength -1].lenk_auditor;
      this.lenk_approver = data[dlength -1].lenk_approver;
      this.status = data[dlength -1].lenk_status;
	// move(this.status);
      this.lenk_valid_startdate = convertUTCDateToLocalDate(null, data[dlength -1].lenk_valid_startdate);
	document.getElementById('cdDate').value = this.lenk_valid_startdate;
	  this.totalVuePackages = data;
	},
	handleSubmit (e) {
		this.submitted = true;
		this.message = "";
		
		/* const ARR = this;
		console.log("Submit: " +  ARR);
		console.log("Submit: " +  ARR._data);
		console.log(Object.keys(ARR._data));
		console.log(ARR.lenk_departments);*/
		
		let form = document.getElementById('formLenkinfo');
		let formLength = form.elements.length;
		
		for( let i = 0; i < formLength; i++)
		{
			// lenkinfo[lenkCreatorDate] = 2021-04-18
			if(form.elements[i].name === 'lenkinfo[lenkVersion]') {
				checkVersion(form.elements.item(i).value);
			}
			let name = form.elements[i].name;
			if(name.match(/lenkinfo/)) {
				if(form.elements.item(i).value) {
					try {
						document.getElementById(name).value = form.elements.item(i).value;
					}
					catch(err) {
						console.error(name + " : " +  err);
					}
				}
			}
		}
		this.doUpdates();
	},
	async doUpdates() {
		let pdata = new URLSearchParams([["specVersion", this.lenk_version], ["relCreator", this.lenk_creator], ["relcreatorDecisdate", this.lenk_creator_date], ["id", <%= releaseMgmt["id"] %>]]);
		const response = await fetch("/releasemgmt/ci_update",
		{
			body: pdata,
			method: "post"
		});
		const data = await response.json();
		console.info('doUpdates: ' + data[0].errMsg);
		
		if(data[0].ERROR === "0")
		{
			console.info("click");
			document.getElementById('submitLenkinfoForm').click();
		}
		else
		{
			console.error("doUpdates: " + + data[0].errMsg);
		}
	}
  }
})

app.lenk_creator_date = convertUTCDateToLocalDate(null, "<%= releaseMgmt["relcreatorDecisdate"] %>");


function checkVersion(version)
{
	const pattern = /([0-9]+)\.([0-9]+)\.([0-9]+)(-(([a-z]+)([.-]([0-9]+))?)?)?/;
	const match = version.match(pattern);
	if (!match) {
		console.error('invalid version - does not match pattern ' + pattern);
		return;
	}
	const rv = {
		major: Number(match[1]),
		minor: Number(match[2]),
		patch: Number(match[3]),
	};
	if (match[5]) {
		Object.assign(rv, { preReleaseLabel: match[5] });
		Object.assign(rv, { preReleaseType: match[6] });
		if (match[8]) {
			Object.assign(rv, { preReleaseIncrement: Number(match[8]) });
		}
	}
	console.log('major: ' + rv.major);
	console.log('minor: ' + rv.minor);
	console.log('patch: ' + rv.patch);

	return rv;
}
</script>

<!-- shitty template  style="display: none" -->
<p><hr></p>
<form action="/lenkinfo/create_silent" method="post" style="display: none">
<input class="w3-input w3-border w3-round set-width" name="release_id" value="<%= releaseMgmt["id"] %>" id="release_id" />
<input class="w3-input w3-border w3-round set-width" name="lenkinfo[specObj]" value="" id="lenkinfo[specObj]" />
<input class="w3-input w3-border w3-round" name="lenkinfo[specTitle]" value="" id="lenkinfo[specTitle]" />
<input class="w3-input w3-border w3-round" name="lenkinfo[acClass]" value="" id="lenkinfo[acClass]" />
<input class="w3-input w3-border w3-round" name="lenkinfo[pcClass]" value="" id="lenkinfo[pcClass]" />
<input class="w3-input w3-border w3-round" name="lenkinfo[country]" value="" id="lenkinfo[country]" />
<input class="w3-input w3-border w3-round" name="lenkinfo[lang]" value="" id="lenkinfo[lang]" />
<input class="w3-input w3-border w3-round" name="lenkinfo[lenkVersion]" value="" id="lenkinfo[lenkVersion]" />
<input class="w3-input w3-border w3-round" name="lenkinfo[lenkStatus]" value="" id="lenkinfo[lenkStatus]" />
<input type="date" class="w3-input w3-border w3-round" name="lenkinfo[lenkValidStartdate]" value="" id="lenkinfo[lenkValidStartdate]" />
<input class="w3-input w3-border w3-round" name="lenkinfo[lenkDepartments]" value="" id="lenkinfo[lenkDepartments]" />
<input class="w3-input w3-border w3-round" name="lenkinfo[lenkContent]" value="" id="lenkinfo[lenkContent]" />
<input class="w3-input w3-border w3-round" name="lenkinfo[lenkCreator]" value="" id="lenkinfo[lenkCreator]" />
<input type="date" class="w3-input w3-border w3-round" name="lenkinfo[lenkCreatorDate]" value="" id="lenkinfo[lenkCreatorDate]" />
<input class="w3-input w3-border w3-round" name="lenkinfo[lenkAuditor]" value="" id="lenkinfo[lenkAuditor]" />
<input type="date" class="w3-input w3-border w3-round" name="lenkinfo[lenkAuditorDate]" value="" id="lenkinfo[lenkAuditorDate]" />
<input class="w3-input w3-border w3-round" name="lenkinfo[lenkApprover]" value="" id="lenkinfo[lenkApprover]" />
<input type="date" class="w3-input w3-border w3-round" name="lenkinfo[lenkApproverDate]" value="" id="lenkinfo[lenkApproverDate]" />
<input type="submit" value="Create &raquo;" id="submitLenkinfoForm" />
</form>
<!-- shitty template -->

<itis-footer id="itisFooter" message=""></itis-footer>
  
</body>
</html>
