<!DOCTYPE html>
<%#include "webmenu.h" %>
<html>
<head>
  <meta charset="UTF-8">
  <html lang="de">

  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="icon" href="/favicon.ico">

  <script>
    function doLocal()
    {
        console.log("this is local");

        let l_footer = document.getElementById("itisFooter");
        l_footer.message = '<a href="/stdsystem/license" title="license">Lizenzen</a>&nbsp;<a href="/stdsystem/imprint" title="Imprint">Impressum</a>';

        //let l_menu = document.getElementById("itisMenu"); 
        //l_menu.message = "<%= controller()->name() %>";
    }

	function setLanguage(lang)
	{
		if(lang == "0")
		{lang = "de";}
		else{lang = "en";}
		document.cookie = "lang=" + lang + ";" + ";path=/";
		location.reload();
	}
	
	function open_show(id) 
	{
		window.open("/webmenu/show/" + id);
	}

	function open_qedit(id) 
	{
		window.open("/webmenu/save/" + id);
	}

	function open_edit(id) 
	{
		window.open("/webmenu/save/" + id);
	}

  </script>

  <script type="module" src="/js/itis_init.js" /></script>
  <link rel="stylesheet" href="/css/w3.css">  
  <link rel="stylesheet" href="/css/custom.css">
   
  <link href="/css/tabulator/tabulator.min.css" rel="stylesheet">
  <script type="text/javascript" src="/js/tabulator/tabulator.min.js"></script>
		<script src="/js/tabulator/tblsort.js"></script>
		<style>
			table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { content: " \25B4\25BE" }
			table, th, td { border: 1px solid #bbb; text-align: left; }
			th { background-color: #ddd; }
		</style>
</head>

<body class="w3-container w3-margin" id="body">

  <itis-menu id="itisMenu" message=""></itis-menu>

  <div class="w3-container w3-light-blue">
    <h2 id="portaltitle">ITIS-API::Admin-Portal</h2>
  </div>

  <itis-menusub id="itisMenuSub" message="<%= controller()->name() %>"></itis-menusub>

<h3 id="pagetitle"><page-title message=""><%= controller()->name() + ": " + controller()->activeAction() %></page-title></h3>
<div id="pagedesc"><page-desc message=""></page-desc></div>

<p id="redmsg" style="color: red"><%==$ red_msg %><%=$ error %></p><p id="greenmsg" style="color: green"><%==$ green_msg %><%=$ notice %></p>

<main>
<div id="pagecontent"><page-content message=""></page-content></div>

<br />
<table class="w3-table-all w3-hoverable sortable" id="myTable">
  <tr class="w3-text-grey">
    <th>ID</th>
    <th>Mnu ID</th>
    <th>Mnu Sub ID</th>
    <th>Name De</th>
    <th>Desc De</th>
    <th>Name En</th>
    <th>Desc En</th>
    <th>Mnu Uri</th>
    <th>Groups</th>
    <th>Mnu Item</th>
    <th>Sort</th>
    <th>Active</th>
    <th style="width:120px;">Baustein</th>
  </tr>
<% tfetch(QList<Webmenu>, webmenuList); %>
<% for (const auto &i : webmenuList) { %>
  <tr>
    <td><%= i.id() %></td>
    <td><%= i.mnuId() %></td>
    <td><%= i.mnuSubId() %></td>
    <td><%= i.nameDe() %></td>
    <td><%= i.descDe() %></td>
    <td><%= i.nameEn() %></td>
    <td><%= i.descEn() %></td>
    <td><%= i.mnuUri() %></td>
    <td><%= i.groups() %></td>
    <td><%= i.mnuItem() %></td>
    <td><%= i.sort() %></td>
    <td><%= i.active() %></td>
    <td>
      <a href="javascript:void(0)" onclick="open_show('<%= i.id() %>')" title="Show Details"><img src="/Icons/eyeglasses.svg"></a>&nbsp;&nbsp;&nbsp;
	  <a href="javascript:void(0)" onclick="open_qedit('<%= i.id() %>')" title="Q-Edit"><img src="/Icons/pencil.svg"></a>&nbsp;&nbsp;&nbsp;
	  <a href="javascript:void(0)" onclick="open_show('<%= i.id() %>')" title="Remove"><img src="/Icons/trash.svg"></a>
    </td>
  </tr>
<% } %>
</table>

</main>
<itis-footer id="itisFooter" message=""></itis-footer>
  
</body>
</html>
