<!DOCTYPE html>
<%#include "glossar.h" %>
<% tfetch(QVariantMap, glossar); %>
<html>
<head>
  <meta charset="UTF-8">
  <html lang="de">

  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="icon" href="/favicon.ico">

  <script>
    function doLocal()
    {
        console.log("this is local");

        let l_footer = document.getElementById("itisFooter");
        l_footer.message = '<a href="/stdsystem/license" title="licenses">Lizenzen</a>&nbsp;<a href="/stdsystem/imprint" title="Imprint">Impressum</a>';

        //let l_menu = document.getElementById("itisMenu"); 
        //l_menu.message = "<%= controller()->name() %>";
    }

	function setLanguage(lang)
	{
		if(lang == "0")
		{lang = "de";}
		else{lang = "en";}
		document.cookie = "lang=" + lang + ";" + ";path=/";
		location.reload();
	}
	
  </script>

  <script type="module" src="/js/itis_init.js" /></script>
  
  <link rel="stylesheet" href="/css/w3.css">  
  <link rel="stylesheet" href="/css/custom.css">  

<style>
	.set-width { width: 250px;	border-radius: 5px;}
</style>

</head>

<body class="w3-container w3-margin" id="body">

  <itis-menu id="itisMenu" message=""></itis-menu>

  <div class="w3-container w3-light-blue">
    <h2 id="portaltitle">ITIS-API::Admin-Portal</h2>
  </div>

  <itis-menusub id="itisMenuSub" message="<%= controller()->name() %>"></itis-menusub>

<h3 id="pagetitle"><page-title message=""><%= controller()->name() + ": " + controller()->activeAction() %></page-title></h3>
<div id="pagedesc"><page-desc message=""></page-desc></div>

<span style="color: red;">
	<span  id="redmsg"><%==$ red_msg %></span>&nbsp;<span><%=$ error %></span>
</span>
<span style="color: green;">
	<span id="greenmsg"><%==$ green_msg %></span>&nbsp;<span><%=$ notice %></span>
</span>

<main>
    
<div id="pagecontent"><page-content message=""></page-content></div>	

<span class="w3-btn w3-red w3-wide" style="border-radius: 0.5em 0px 0px 0px;"><img src="/Icons/trash.svg">&nbsp;<%== linkTo("Remove", urla("remove", glossar["id"]), Tf::Post, "confirm('Are you sure?')") %></span>
&nbsp;&nbsp;&nbsp;
<a href="/glossar/show/<%= glossar["id"] %>" class="w3-btn w3-light-grey"><img src="/Icons/eyeglasses.svg">&nbsp;Anzeige</a>
<a href="/glossar/list_all" class="w3-btn w3-light-grey">&laquo;&nbsp;zur&uuml;ck</a>

<section> 
<%== formTag(urla("save", glossar["id"]), Tf::Post) %>
<div class="w3-row-padding">
  <div class="w3-half">
    <label class="w3-opacity">ID<br /><input type="text" class="w3-input w3-border w3-round set-width" name="glossar[id]" value="<%= glossar["id"] %>" readonly="readonly" /></label>
  </div>
  <div class="w3-half">
    <label class="w3-opacity">Acronym<br /><input type="text" class="w3-input w3-border w3-round" name="glossar[acronym]" value="<%= glossar["acronym"] %>" /></label>
  </div>

  <div class="w3-half" style="padding-top: 1rem;">
    <label class="w3-opacity">Term De<br /><input type="text" class="w3-input w3-border w3-round" name="glossar[termDe]" value="<%= glossar["termDe"] %>" /></label>
  </div>
  <div class="w3-half" style="padding-top: 1rem;">
    <label class="w3-opacity">Term En<br /><input type="text" class="w3-input w3-border w3-round" name="glossar[termEn]" value="<%= glossar["termEn"] %>" /></label>
  </div>

  <div class="w3-half" style="padding-top: 1rem;">
    <label class="w3-opacity">Desc De<br /><input type="text" class="w3-input w3-border w3-round" name="glossar[descDe]" value="<%= glossar["descDe"] %>" /></label>
  </div>

  <div class="w3-half" style="padding-top: 1rem; padding-bottom: 1rem;">
    <label class="w3-opacity">Desc En<br /><input type="text" class="w3-input w3-border w3-round" name="glossar[descEn]" value="<%= glossar["descEn"] %>" /></label>
  </div>
<!--  <p>
    <label>Sort<br /><input type="text" class="w3-input set-width"  name="glossar[sort]" value="<%= glossar["sort"] %>" /></label>
  </p>
-->
  <p>
    <label class="w3-opacity">Active<br /><input type="text" class="w3-input w3-border w3-round set-width" name="glossar[active]" value="<%= glossar["active"] %>" pattern="[0-1]{1}" title="nicht aktiv: 0 , aktiv: 1" /></label>
  </p>
  <p>
    <input type="submit" value="Save &raquo;" />
  </p>
  </div>
</form>
</section> 
<br>
<span class="w3-btn w3-red" style="border-radius: 0px 0px 0px 0.5em"><img src="/Icons/trash.svg">&nbsp;<%== linkTo("Remove", urla("remove", glossar["id"]), Tf::Post, "confirm('Are you sure?')") %></span>
&nbsp;&nbsp;&nbsp;
<a href="/glossar/show/<%= glossar["id"] %>" class="w3-btn w3-light-grey"><img src="/Icons/eyeglasses.svg">&nbsp;Anzeige</a>
<a href="/glossar/list_all" class="w3-btn w3-light-grey">&laquo;&nbsp;zur&uuml;ck</a>

</main>

<itis-footer id="itisFooter" message=""></itis-footer>
</body>
</html>

