<!DOCTYPE html>
<%#include "annexdata.h" %>
<% tfetch(AnnexData, annexData); %>
<%#include "annexdatawaste.h" %>
<% tfetch(AnnexDataWaste, annexDataWaste); %>
<html>
<head>
  <meta charset="UTF-8">
  <html lang="de">

  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="alternate icon" href="/favicon.ico">
  <link rel="mask-icon" href="/favicon.svg" color="#b2b2b2">

  <script>
    function doLocal()
    {
        console.log("this is local");

        let l_footer = document.getElementById("itisFooter");
        l_footer.message = '<a href="/stdsystem/license" title="licenses">Lizenzen</a>&nbsp;<a href="/stdsystem/imprint" title="Imprint">Impressum</a>';

        //let l_menu = document.getElementById("itisMenu"); 
        //l_menu.message = "<%= controller()->name() %>";
    }

	function setLanguage(lang)
	{
		if(lang == "0")
		{lang = "de";}
		else{lang = "en";}
		document.cookie = "lang=" + lang + ";" + ";path=/";
		location.reload();
	}
  </script>

  <script type="module" src="/js/itis_init.js" /></script>
  <link rel="stylesheet" href="/css/w3.css">  
  <link rel="stylesheet" href="/css/custom.css">  
 
</head>

<body class="w3-container w3-margin" id="body">

  <itis-menu id="itisMenu" message=""></itis-menu>

  <div class="w3-container w3-light-blue">
    <h2 id="portaltitle">ITIS-API::Admin-Portal</h2>
  </div>

  <itis-menusub id="itisMenuSub" message="<%= controller()->name() %>"></itis-menusub>

<h3 id="pagetitle"><page-title message=""><%= controller()->name() + ": " + controller()->activeAction() %></page-title></h3>
<div id="pagedesc"><page-desc message=""></page-desc></div>

<p id="redmsg" style="color: red"><%==$ red_msg %><%=$ error %></p><p id="greenmsg" style="color: green"><%==$ green_msg %><%=$ notice %></p>

<main>
<div id="pagecontent"><page-content message=""></page-content></div>

<span class="w3-btn w3-red w3-wide" style="border-radius: 0.5em 0px 0px 0px;"><img src="/Icons/trash.svg">&nbsp;<%== linkTo("Remove", urla("removeWaste", annexDataWaste.id()), Tf::Post, "confirm('Are you sure?')") %></span>
&nbsp;&nbsp;&nbsp;
<a href="/annexdata/listWaste" class="w3-btn w3-light-grey"><img src="/Icons/justify.svg">&nbsp;zur&uuml;ck</a>
<br>

<form class="w3-container">
<p><label>ID</label><input class="w3-input" type="text" value="<%= annexDataWaste.id() %>" readonly></p>
<p><label>Lfdnr</label><input class="w3-input" type="text" value="<%= annexDataWaste.lfdnr() %>" readonly></p>
<p><label>Spec Title</label><input class="w3-input" type="text" value="<%= annexDataWaste.specTitle() %>" readonly></p>
<p><label>Spec Desc</label><input class="w3-input" type="text" value="<%= annexDataWaste.specDesc() %>" readonly></p>
<p><label>Spec Version</label><input class="w3-input" type="text" value="<%= annexDataWaste.specVersion() %>" readonly></p>
<p><label>Spec Release</label><input class="w3-input" type="text" value="<%= annexDataWaste.specRelease() %>" readonly></p>
<p><label>Obj Sname</label><input class="w3-input" type="text" value="<%= annexDataWaste.objSname() %>" readonly></p>
<p><label>Ac Classes</label><input class="w3-input" type="text" value="<%= annexDataWaste.acClasses() %>" readonly></p>
<p><label>Pc Classes</label><input class="w3-input" type="text" value="<%= annexDataWaste.pcClasses() %>" readonly></p>
<p><label>Cat Class</label><input class="w3-input" type="text" value="<%= annexDataWaste.catClass() %>" readonly></p>
<p><label>Country</label><input class="w3-input" type="text" value="<%= annexDataWaste.country() %>" readonly></p>
<p><label>Lang</label><input class="w3-input" type="text" value="<%= annexDataWaste.lang() %>" readonly></p>
<p><label>Spec Active</label><input class="w3-input" type="text" value="<%= annexDataWaste.specActive() %>" readonly></p>

<br/>

<article>
	<h4>Daten Anzeige</h4>
	<p><label><b>Annex Content</b></label><br>
	<section><%== annexDataWaste.specContent() %></section></p>
	<p><label><b>Annex Source</b></label></p>
	<section><%= annexDataWaste.specContent() %></section>
</article>
</form>

<br>
<span class="w3-btn w3-red" style="border-radius: 0px 0px 0px 0.5em"><img src="/Icons/trash.svg">&nbsp;<%== linkTo("Remove", urla("removeWaste", annexDataWaste.id()), Tf::Post, "confirm('Are you sure?')") %></span>
&nbsp;&nbsp;&nbsp;
<a href="/annexdata/list_all" class="w3-btn w3-light-grey"><img src="/Icons/justify.svg">&nbsp;zur&uuml;ck</a>

</main>
<itis-footer id="itisFooter" message=""></itis-footer>
  
</body>
</html>
