<!DOCTYPE html>
<%#include "lenkinfo.h" %>
<% tfetch(QVariantMap, lenkinfo); %>
<html>
<head>
  <meta charset="UTF-8">
  <html lang="de">

  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="icon" href="/favicon.ico">
  
  <link rel="preload" href="/fonts/Inter-Regular.woff2" as="font" type="font/woff2" crossorigin />

  <script>
    function doLocal()
    {
        console.log("this is local");

        let l_footer = document.getElementById("itisFooter");
        l_footer.message = '<a href="/stdsystem/license" title="licenses">Lizenzen</a>&nbsp;<a href="/stdsystem/imprint" title="Imprint">Impressum</a>';

        //let l_menu = document.getElementById("itisMenu"); 
        //l_menu.message = "<%= controller()->name() %>";
    }

	function setLanguage(lang)
	{
		if(lang == "0")
		{lang = "de";}
		else{lang = "en";}
		document.cookie = "lang=" + lang + ";" + ";path=/";
		location.reload();
	}

  </script>

  <script type="module" src="/js/itis_init.js" /></script>
  
  <link rel="stylesheet" href="/css/w3.css">  
  <link rel="stylesheet" href="/css/custom.css">  

<style>
	.set-width { max-width: 250px;	border-radius: 5px;}
	.w3-half, .w3-third { margin-bottom: 1rem; }
</style>

</head>

<body class="w3-container w3-margin" id="body">

  <itis-menu id="itisMenu" message=""></itis-menu>

  <div class="w3-container w3-light-blue">
    <h2 id="portaltitle">ITIS-API::Admin-Portal</h2>
  </div>

  <itis-menusub id="itisMenuSub" message="<%= controller()->name() %>"></itis-menusub>

<h3 id="pagetitle"><page-title message=""><%= controller()->name() + ": " + controller()->activeAction() %></page-title></h3>
<div id="pagedesc"><page-desc message=""></page-desc></div>

<span style="color: red;">
	<span  id="redmsg"><%==$ red_msg %></span>&nbsp;<span><%=$ error %></span>
</span>
<span style="color: green;">
	<span id="greenmsg"><%==$ green_msg %></span>&nbsp;<span><%=$ notice %></span>
</span>

<main>
    
<div id="pagecontent"><page-content message=""></page-content></div>	

<section> 
<%== formTag(urla("create"), Tf::Post) %>
<div class="w3-row-padding">
  <div class="w3-half">
    <label class="w3-opacity">Spec Obj<br /><input class="w3-input w3-border w3-round set-width" name="lenkinfo[specObj]" value="<%= lenkinfo["specObj"] %>" /></label>
  </div>
  <div class="w3-half">
    <label class="w3-opacity">Spec Title<br /><input class="w3-input w3-border w3-round" name="lenkinfo[specTitle]" value="<%= lenkinfo["specTitle"] %>" /></label>
  </div>
  <div class="w3-half">
    <label class="w3-opacity">AC Class <small>(1-4)</small><br /><input class="w3-input w3-border w3-round" name="lenkinfo[acClass]" value="<%= lenkinfo["acClass"] %>" /></label>
  </div>
  <div class="w3-half">
    <label class="w3-opacity">PC Class <small>(1-4)</small><br /><input class="w3-input w3-border w3-round" name="lenkinfo[pcClass]" value="<%= lenkinfo["pcClass"] %>" /></label>
  </div>
  <div class="w3-half">
    <label class="w3-opacity">Country <small>(WW | DE | EN ...)</small><br /><input class="w3-input w3-border w3-round" name="lenkinfo[country]" value="<%= lenkinfo["country"] %>" /></label>
  </div>
  <div class="w3-half">
    <label class="w3-opacity">Lang <small>(de_DE | en_GB)</small><br /><input class="w3-input w3-border w3-round" name="lenkinfo[lang]" value="<%= lenkinfo["lang"] %>" /></label>
  </div>
  <div class="w3-half">
    <label class="w3-opacity">Lenk Version <small>(00.00.00)</small><br /><input class="w3-input w3-border w3-round" name="lenkinfo[lenkVersion]" value="<%= lenkinfo["lenkVersion"] %>" /></label>
  </div>
  <div class="w3-half">
    <label class="w3-opacity">Lenk Status <small>(draft | pre-released | released | expired)</small><br /><input class="w3-input w3-border w3-round" name="lenkinfo[lenkStatus]" value="<%= lenkinfo["lenkStatus"] %>" /></label>
  </div>
  <div class="w3-half">
    <label class="w3-opacity">Lenk Valid Startdate <small>(dd.mm.yyyy)</small><br /><input type="date" class="w3-input w3-border w3-round" name="lenkinfo[lenkValidStartdate]" value="<%= lenkinfo["lenkValidStartdate"] %>" /></label>
  </div>
  <div class="w3-half">
    <label class="w3-opacity">Lenk Departments <small>(FG-84*, FG-85*, FG-86*, ...)</small><br /><input class="w3-input w3-border w3-round" name="lenkinfo[lenkDepartments]" value="<%= lenkinfo["lenkDepartments"] %>" /></label>
  </div>
  <p>
    <label class="w3-opacity">Lenk Content<br /><input class="w3-input w3-border w3-round" name="lenkinfo[lenkContent]" value="<%= lenkinfo["lenkContent"] %>" /></label>
  </p>
  <div class="w3-half">
    <label class="w3-opacity">Lenk Creator <small>(Name, Department)</small><br /><input class="w3-input w3-border w3-round" name="lenkinfo[lenkCreator]" value="<%= lenkinfo["lenkCreator"] %>" /></label>
  </div>
  <div class="w3-half">
    <label class="w3-opacity">Lenk Creator Date <small>(dd.mm.yyyy)</small><br /><input type="date" class="w3-input w3-border w3-round" name="lenkinfo[lenkCreatorDate]" value="<%= lenkinfo["lenkCreatorDate"] %>" /></label>
  </div>
  <div class="w3-half">
    <label class="w3-opacity">Lenk Auditor <small>(Name, Department)</small><br /><input class="w3-input w3-border w3-round" name="lenkinfo[lenkAuditor]" value="<%= lenkinfo["lenkAuditor"] %>" /></label>
  </div>
  <div class="w3-half">
    <label class="w3-opacity">Lenk Auditor Date <small>(dd.mm.yyyy)</small><br /><input type="date" class="w3-input w3-border w3-round" name="lenkinfo[lenkAuditorDate]" value="<%= lenkinfo["lenkAuditorDate"] %>" /></label>
  </div>
  <div class="w3-half">
    <label class="w3-opacity">Lenk Approver <small>(Name, Department)</small><br /><input class="w3-input w3-border w3-round" name="lenkinfo[lenkApprover]" value="<%= lenkinfo["lenkApprover"] %>" /></label>
  </div>
  <div class="w3-half">
    <label class="w3-opacity">Lenk Approver Date <small>(dd.mm.yyyy)</small><br /><input type="date" class="w3-input w3-border w3-round" name="lenkinfo[lenkApproverDate]" value="<%= lenkinfo["lenkApproverDate"] %>" /></label>
  </div>
  <p>&nbsp;</p>
  <p>
    <input type="submit" value="Create &raquo;" />
  </p>
</div>
</form>

</section>
<br/>
<a href="/lenkinfo/list_all" class="w3-btn w3-light-grey">&laquo;&nbsp;zur&uuml;ck</a>

</main>

<itis-footer id="itisFooter" message=""></itis-footer>
</body>
</html>
