<!DOCTYPE html>
<%#include "acclasses.h" %>
<% tfetch(QVariantMap, acClasses); %>
<html>
<head>
  <meta charset="UTF-8">
  <html lang="de">

  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="icon" href="/favicon.ico">

  <script>
    function doLocal()
    {
        console.log("this is local");

        let l_footer = document.getElementById("itisFooter");
        l_footer.message = '<a href="/stdsystem/license" title="licenses">Lizenzen</a>&nbsp;<a href="/stdsystem/imprint" title="Imprint">Impressum</a>';

        //let l_menu = document.getElementById("itisMenu"); 
        //l_menu.message = "<%= controller()->name() %>";
    }

	function setLanguage(lang)
	{
		if(lang == "0")
		{lang = "de";}
		else{lang = "en";}
		document.cookie = "lang=" + lang + ";" + ";path=/";
		location.reload();
	}
	
  </script>

  <script type="module" src="/js/itis_init.js" /></script>
  
  <link rel="stylesheet" href="/css/w3.css">  
  <link rel="stylesheet" href="/css/custom.css">  

</head>

<body class="w3-container w3-margin" id="body">

  <itis-menu id="itisMenu" message=""></itis-menu>

  <div class="w3-container w3-light-blue">
    <h2 id="portaltitle">ITIS-API::Admin-Portal</h2>
  </div>

  <itis-menusub id="itisMenuSub" message="<%= controller()->name() %>"></itis-menusub>

<h3 id="pagetitle"><page-title message=""><%= controller()->name() + ": " + controller()->activeAction() %></page-title></h3>
<div id="pagedesc"><page-desc message=""></page-desc></div>

<p id="redmsg" style="color: red"><%==$ red_msg %><%=$ error %></p><p id="greenmsg" style="color: green"><%==$ green_msg %><%=$ notice %></p>

<main>
    
<div id="pagecontent"><page-content message=""></page-content></div>	

<a href="/acClasses/show/<%= acClasses["id"] %>" class="w3-btn w3-light-grey"><img src="/Icons/eyeglasses.svg">&nbsp;Anzeige</a>
<a href="/acClasses/list_all" class="w3-btn w3-light-grey">&laquo;&nbsp;zur&uuml;ck</a>

<%== formTag(urla("save", acClasses["id"]), Tf::Post) %>
  <p>
    <label>ID<br /><input class="w3-input" type="text" name="acClasses[id]" value="<%= acClasses["id"] %>" readonly="readonly" /></label>
  </p>
  <p>
    <label>Obj Sname<br /><input class="w3-input" type="text" name="acClasses[objSname]" value="<%= acClasses["objSname"] %>" /></label>
  </p>
  <p>
    <label>Ac Class<br /><input class="w3-input" type="text" name="acClasses[acClass]" value="<%= acClasses["acClass"] %>" /></label>
  </p>
  <p>
    <label>Class Type<br /><input class="w3-input" type="text" name="acClasses[classType]" value="<%= acClasses["classType"] %>" /></label>
  </p>
  <p>
    <label>Active<br /><input class="w3-input" type="text" name="acClasses[active]" value="<%= acClasses["active"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="speichern &raquo;" />
  </p>
</form>

<br>

<a href="/acClasses/show/<%= acClasses["id"] %>" class="w3-btn w3-light-grey"><img src="/Icons/eyeglasses.svg">&nbsp;Anzeige</a>
<a href="/acClasses/list_all" class="w3-btn w3-light-grey">&laquo;&nbsp;zur&uuml;ck</a>

</main>

<itis-footer id="itisFooter" message=""></itis-footer>
</body>
</html>
